<section class="main-contains">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-3 right-padding-off bg-gary">
                    <div class="left-search-section">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Profile">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->


                        <label>Position</label>
                        <div class="input-group">

                            <input type="text" class="form-control" placeholder="Solicitor (PQE2)">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->


                        <a href="#" class="arrow-button"><span class="label">Paralegal</span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="label">Solicitor (PQE2) </span><span class="arrow"></span></a>
                        <ul>
                            <li>Permanent <span class="badge"><i class="fa fa-check"></i></span></li>
                            <li>Fulltime <span class="badge"><i class="fa fa-check"></i></span></li>
                        </ul>

                        <label>Location</label>
                        <div class="input-group">

                            <input type="text" class="form-control" placeholder="leeds">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                        <a href="#" class="arrow-button"><span class="label">leeds</span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="label">Huddersfield</span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="label">West Yorkshire </span><span class="arrow"></span></a>

                        <br class="hidden-sm" /><br class="hidden-md hidden-sm" /><br />
                        <label>Skills</label>

                        <a href="#" class="arrow-button"><span class="label">Litigation</span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="label">Defendant</span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="label">Applications </span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="label">Court Att.. </span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button hidden-md"><span class="label">Management </span><span class="arrow"></span></a>
                        <br />

                        <a href="#" class="btn btn-default bg-black btns">
                            <i class="fa fa-times"></i>  Reset search & filters
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 left-padding-off bg-white">
                    <h2 class="clearfix pull-left">Search Results 04</h2>
                    <a href="#" class="save-result pull-right"><i class="fa fa-floppy-o"></i> Save Results</a>
                    <br class="clear" />
                    <hr />
                    <div id="no-more-tables">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th> <h4> <i> Clinical Negligence </i> </h4></th>
                            <th></th>
                            <th>Position</th>
                            <th>Location</th>
                            <th>Experience</th>
                            <th>Current Salary</th>
                            <th>Expected Salary</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">

                                        <iframe id="ytplayer" type="text/html" width="210" height="118"
                                                src="https://www.youtube.com/embed/EwK28LO6ckM?controls=0&amp;end=50&amp;fs=0&amp;color=white&amp;theme=light"
                                                frameborder="0" allowfullscreen></iframe>
                                    </td>
                                    <td data-title="Name"><h4> Smith, A </h4></td>
                                    <td data-title="Position">Solicitor</td>
                                    <td data-title="Location">Mansfield</td>
                                    <td data-title="Experience">2 Miles</td>
                                    <td data-title="Current Salary">£19,000</td>
                                    <td data-title="Expected Salary">£20,000 - 25,000</td>
                                </tr>
                                <tr class="no-border paragraph">
                                    <td  colspan="6" class="texts-left">I am a experienced Clinical Negligence Solicitors having worked in comple..</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">
                                        <iframe id="ytplayer" type="text/html" width="210" height="118"
                                                src="https://www.youtube.com/embed/EwK28LO6ckM?controls=0&amp;end=50&amp;fs=0&amp;color=white&amp;theme=light"
                                                frameborder="0" allowfullscreen></iframe>
                                    </td>
                                    <td data-title="Name"><h4> Anderson, G </h4></td>
                                    <td data-title="Position">Paralegal</td>
                                    <td data-title="Location">Mansfield</td>
                                    <td data-title="Experience">2 Miles</td>
                                    <td data-title="Current Salary">£19,000</td>
                                    <td data-title="Expected Salary">£20,000 - 25,000</td>
                                </tr>
                                <tr class="no-border paragraph">
                                    <td  colspan="6" class="texts-left">I am a experienced Clinical Negligence Solicitors having worked in comple..</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">
                                        <iframe id="ytplayer" type="text/html" width="210" height="118"
                                                src="https://www.youtube.com/embed/EwK28LO6ckM?controls=0&amp;end=50&amp;fs=0&amp;color=white&amp;theme=light"
                                                frameborder="0" allowfullscreen></iframe>
                                    </td>
                                    <td data-title="Name"><h4> Fox , C </h4></td>
                                    <td data-title="Position">Student</td>
                                    <td data-title="Location">Mansfield</td>
                                    <td data-title="Experience">2 Miles</td>
                                    <td data-title="Current Salary">£19,000</td>
                                    <td data-title="Expected Salary">£20,000 - 25,000</td>
                                </tr>
                                <tr class="no-border paragraph">
                                    <td  colspan="6" class="texts-left">I am a experienced Clinical Negligence Solicitors having worked in comple..</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">
                                        <iframe id="ytplayer" type="text/html" width="210" height="118"
                                                src="https://www.youtube.com/embed/EwK28LO6ckM?controls=0&amp;end=50&amp;fs=0&amp;color=white&amp;theme=light"
                                                frameborder="0" allowfullscreen></iframe>
                                    </td>
                                    <td data-title="Name"><h4> Hargreaves, K </h4></td>
                                    <td data-title="Position">Paralegal</td>
                                    <td data-title="Location">Mansfield</td>
                                    <td data-title="Experience">2 Miles</td>
                                    <td data-title="Current Salary">£19,000</td>
                                    <td data-title="Expected Salary">£20,000 - 25,000</td>
                                </tr>
                                <tr class="no-border paragraph">
                                    <td  colspan="6" class="texts-left">I am a experienced Clinical Negligence Solicitors having worked in comple..</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>