<section class="banner-area" style="background-image: url(images/landing-banner.jpg)">

    <!--            <div class="container">
                            <ul class="banner-menu">
                                <li><a href="#">Client</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Technology</a></li>
                            </ul>
                        </div>-->
</section>

<section class="main-contains reg-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 reg-title">
                <h1>Employers Register</h1>
                <p>Reach thousands of job seekers for your vacancy.<br> Start viewing cadidate profiles within seconds - its
                    free to post jobs!</p>
                <span>Already have a clip Jobs account? <a href="#">Sign In</a></span>
            </div>
        </div>
        <form class="cadidate-register-form" name="empSignup.employerSignupForm" ng-submit="empSignup.signUp()" novalidate>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-bg">
                        <div class="form-group">
                            <label for="companyName">Company Name 
                                <span ng-show="empSignup.employerSignupForm.companyName.$touched && empSignup.employerSignupForm.companyName.$invalid
                                        || empSignup.employerSignupForm.$submitted && empSignup.employerSignupForm.companyName.$invalid">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                </span>
                                <span ng-show="empSignup.employerSignupForm.companyName.$valid">
                                    <i class="fa fa-check color-green" aria-hidden="true"></i>
                                </span>
                            </label>
                            <input name="companyName" type="text" class="form-control" id="companyName" 
                                ng-model="empSignup.signUpModel.CompanyName"
                                ng-model-options="{updateOn: 'blur'}"
                                required maxlength="30" minlength="2"
                                >
                        </div>
                        <div class="form-group">
                            <label for="companyNumber">Company Number 
                                <span ng-show="empSignup.employerSignupForm.companyNumber.$touched && empSignup.employerSignupForm.companyNumber.$invalid
                                        || empSignup.employerSignupForm.$submitted && empSignup.employerSignupForm.companyNumber.$invalid">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                </span>
                                <span ng-show="empSignup.employerSignupForm.companyNumber.$valid">
                                    <i class="fa fa-check color-green" aria-hidden="true"></i>
                                </span>
                            </label>
                            <input name="companyNumber" type="text" class="form-control" id="companyNumber" 
                                ng-model="empSignup.signUpModel.CompanyNumber" 
                                ng-model-options="{updateOn: 'blur'}"
                                required maxlength="30" minlength="10"
                                >
                        </div>
                        <div class="form-group">
                            <label for="companyContact">Company contact: Full name 
                                  <span ng-show="empSignup.employerSignupForm.companyContact.$touched && empSignup.employerSignupForm.companyContact.$invalid
                                        || empSignup.employerSignupForm.$submitted && empSignup.employerSignupForm.companyContact.$invalid">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                </span>
                                <span ng-show="empSignup.employerSignupForm.companyContact.$valid">
                                    <i class="fa fa-check color-green" aria-hidden="true"></i>
                                </span>
                            </label>
                            <input name="companyContact" type="text" class="form-control" id="companyContact" 
                                ng-model="empSignup.signUpModel.CompanyContact"
                                ng-model-options="{updateOn: 'blur'}"
                                required minlength="2" maxlength="30"
                                >
                        </div>
                        <div class="form-group">
                            <label for="emailAddress">Email Address 
                                  <span ng-show="empSignup.employerSignupForm.email.$touched && empSignup.employerSignupForm.email.$invalid
                                        || empSignup.employerSignupForm.$submitted && empSignup.employerSignupForm.email.$invalid">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                    </span>
                                    <span ng-show="empSignup.employerSignupForm.email.$valid">
                                        <i class="fa fa-check color-green" aria-hidden="true"></i>
                                    </span>
                            </label>
                            <input name="email" type="email" class="form-control" id="emailAddress" 
                                ng-model="empSignup.signUpModel.Email" 
                                ng-model-options="{updateOn: 'blur'}"
                                required minlength="3" maxlength="30"
                                >
                        </div>
                        <div class="form-group">
                            <label for="confirmEmailAddress">Confirm Email Address 
                                <span ng-show="empSignup.employerSignupForm.confirmEmail.$touched && empSignup.employerSignupForm.confirmEmail.$invalid
                                        || empSignup.employerSignupForm.$submitted && empSignup.employerSignupForm.confirmEmail.$invalid">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                    </span>
                                    <span ng-show="empSignup.employerSignupForm.confirmEmail.$valid">
                                        <i class="fa fa-check color-green" aria-hidden="true"></i>
                                    </span>
                            </label>
                            <input name="confirmEmail" type="email" class="form-control" id="confirmEmailAddress" 
                                ng-model="empSignup.signUpModel.ConfirmEmail" 
                                ng-model-options="{updateOn: 'blur'}"
                                ng-change="empSignup.confirmEmail()"
                                required minlength="3" maxlength="30"
                                >
                        </div>
                        <div class="form-group">
                            <label for="enterPassword">Password 
                                <span ng-show="empSignup.employerSignupForm.password.$touched && empSignup.employerSignupForm.password.$invalid
                                        || empSignup.employerSignupForm.$submitted && empSignup.employerSignupForm.password.$invalid">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                    </span>
                                    <span ng-show="empSignup.employerSignupForm.password.$valid">
                                        <i class="fa fa-check color-green" aria-hidden="true"></i>
                                    </span>
                            </label>
                            <input name="password" type="password" class="form-control" id="enterPassword" 
                                ng-model="empSignup.signUpModel.Password" 
                                ng-model-options="{updateOn: 'blur'}"
                                required minlength="6" maxlength="16"
                                >
                        </div>
                        <div class="form-group">
                            <label for="enterConfirmPassword">Confirm Password 
                                <span ng-show="empSignup.employerSignupForm.confirmPassword.$touched && empSignup.employerSignupForm.confirmPassword.$invalid
                                        || empSignup.employerSignupForm.$submitted && empSignup.employerSignupForm.confirmPassword.$invalid">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                    </span>
                                    <span ng-show="empSignup.employerSignupForm.confirmPassword.$valid">
                                        <i class="fa fa-check color-green" aria-hidden="true"></i>
                                    </span>
                            </label>
                            <input name="confirmPassword" type="password" class="form-control" id="enterConfirmPassword" 
                                ng-model="empSignup.signUpModel.ConfirmPassword" 
                                ng-change="empSignup.confirmPassword()"
                                ng-model-options="{updateOn: 'blur'}"
                                required minlength="6" maxlength="16"
                                >
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-bg">
                        <label>Your Sector 
                              <span ng-show="empSignup.employerSignupForm.$submitted && !empSignup.signUpModel.IndustryList.length">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                </span>
                                <span ng-show="empSignup.employerSignupForm.$submitted && empSignup.signUpModel.IndustryList.length">
                                    <i class="fa fa-check color-green" aria-hidden="true"></i>
                                </span>
                        </label>
                        <div class="row checkbox">
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.isAccounting, 'Accounting')" 
                                                                    ng-model="empSignup.isAccounting"> Accounting
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Legal, 'Legal')" 
                                                                    ng-model="empSignup.Legal"> Legal
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Automotive, 'Automotive')" 
                                                                    ng-model="empSignup.Automotive"> Automotive
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Logistics, 'Logistics & Transport')" 
                                                                    ng-model="empSignup.Logistics"> Logistics & Transport
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Aviation, 'Aviation')" 
                                                                    ng-model="empSignup.Aviation"> Aviation
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Managements, 'Managements & Executive')" 
                                                                    ng-model="empSignup.Managements"> Managements & Executive
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Banking, 'Banking & Finance')" 
                                                                    ng-model="empSignup.Banking"> Banking & Finance
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Manufacturing, 'Manufacturing')" 
                                                                    ng-model="empSignup.Manufacturing"> Manufacturing
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Voluntary, 'Charity & Voluntary Work')" 
                                                                    ng-model="empSignup.Voluntary"> Charity & Voluntary Work
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Marketing, 'Marketing')" 
                                                                    ng-model="empSignup.Marketing"> Marketing
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Construction, 'Construction')" 
                                                                    ng-model="empSignup.Construction"> Construction
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Media, 'Media')" 
                                                                    ng-model="empSignup.Media"> Media
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Consultancy, 'Consultancy')" 
                                                                    ng-model="empSignup.Consultancy"> Consultancy
                                        </label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label>
                                            <input type="checkbox" ng-change="empSignup.toggleIndustry(empSignup.Military, 'Military')" 
                                                                    ng-model="empSignup.Military"> Military
                                        </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="regulatoryBody">Regulatory body registration number 
                                <span ng-show="empSignup.employerSignupForm.registrationNo.$touched && empSignup.employerSignupForm.registrationNo.$invalid
                                        || empSignup.employerSignupForm.$submitted && empSignup.employerSignupForm.registrationNo.$invalid">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                    </span>
                                    <span ng-show="empSignup.employerSignupForm.registrationNo.$valid">
                                        <i class="fa fa-check color-green" aria-hidden="true"></i>
                                    </span>
                            </label>
                            <input name="registrationNo" type="text" class="form-control" 
                                ng-model="empSignup.signUpModel.RegistrationNo"
                                ng-model-options="{updateOn: 'blur'}"
                                required minlength="10" maxlength="30"
                                >
                        </div>
                        <!--<div class="form-group add-address">
                            <label for="officeAddress">Add company office addresses</label>
                            <input type="text" class="form-control" ng-model="empSignup.address"><button class="add-more" ng-click="empSignup.addAddress(empSignup.address)">+</button>
                        </div>
                        <a href="#" class="arrow-button" ng-repeat="skill in jobPosting.job.SkillSet" 
                                ng-click="jobPosting.removeSkill($index)">
                            <span class="label">{{skill}}</span><span class="arrow"></span>
                        </a>-->

                        <div class="position-experience">
                            <div>
                                <label for="officeAddress">Add company office addresses 
                                     <span ng-show="empSignup.employerSignupForm.$submitted && !empSignup.signUpModel.AddressList.length">
                                    <i class="fa fa-exclamation color-red" aria-hidden="true"></i>
                                </span>
                                <span ng-show="empSignup.employerSignupForm.$submitted && empSignup.signUpModel.AddressList.length">
                                    <i class="fa fa-check color-green" aria-hidden="true"></i>
                                </span>
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="empSignup.address">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" 
                                            ng-click="empSignup.addAddress(empSignup.address)"><i class="fa fa-plus-circle"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                                <a href="#" class="arrow-button" style="margin-top: 5px;" 
                                    ng-repeat="addr in empSignup.signUpModel.AddressList" 
                                    ng-click="empSignup.removeAddress($index)"
                                    >
                                    <span class="label">{{addr}}</span><span class="arrow"></span>
                                </a>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-bg">
                        <div class="form-submit">
                            <button class="btn btn-primary" type="submit">Post a vacancy to start viewing candidate clips</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>
</section>