

        <section class="banner-area" style="background-image: url( images/landing-banner.jpg)" ng-init="applyJobs.init()">
         
        </section>

        <section class="main-contains reg-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 reg-title">
                        <h1>Apply</h1>
                        <p>You have selected to apply for <strong>{{applyJobs.selectedJobs.length}} Jobs.</strong></p>
                    </div>
                </div>
                <form class="apply-job-form">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td width="25%">Job Title</td>
                                    <td width="10%"></td>
                                    <td class="text-center" width="20%">Estimated Salary</td>
                                    <td width="30%">Location</td>
                                    <td width="15%"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="job in applyJobs.selectedJobs">
                                    <td>{{$index+1 + '. ' + job.Position}}</td>
                                    <td><a href="#" class="btn btn-black">read more</a></td>
                                    <td class="text-center"><span class="estimate-salary-btn">£{{job.SalaryFrom}} - £{{job.SalaryTo}}</span></td>
                                    <td>{{job.LocationList[0]}}</td>
                                    <td><a class="action-btn" href="#"><i class="fa fa-floppy-o"></i></a> <a class="action-btn" href="#"><i class="fa fa-trash-o" ng-click="applyJobs.removeJob($index)"></i></a></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-applications">
                        <p><strong>Submit Application(s)</strong></p>
                        <p>You have selected to apply for <strong>{{applyJobs.selectedJobs.length}} Jobs.</strong> You application will be submitted with the following Clip together with your ClipJobs CV. Please review documents before clicking Apply.</p>
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <h3>My Clip</h3>
                                <div class="applicant-img">
                                    <a href="#" class="edit-icon"><i class="fa fa-pencil"></i></a>
                                    <img src=" images/applicant.jpg" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <h3>My Clip CV</h3>
                                <div class="attched-items">
                                    <ul>
                                        <li><i class="fa fa-file-pdf-o"></i> My Clip-CV.pdf <a href="#" class="edit-icon"><i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <h3>My Documents</h3>
                                <div class="attched-items" flow-init="{target: 'http://localhost:57154/api/documents/upload'}" set-bytes="$file" ng-class="dropClass"
                                        flow-name="applyJobs.documents"
                                        flow-file-added="!!{doc:1,pdf:1,docx:1,rtf:1}[$file.getExtension()]"
                                        flow-file-success="applyJobs.onFileUploadSuccess($message, cSignup.uploads.clip)"
                                        >
                                    <ul>
                                        <li ng-repeat="doc in applyJobs.documents.files">{{doc.name}}</li>
                                        <!--<li><i class="fa fa-file-pdf-o"></i> Samply Application.pdf</li>
                                        <li><i class="fa fa-file-pdf-o"></i> Samply Application.pdf</li>-->
                                    </ul>
                                    <button class="btn btn-primary" type="button" ng-click="applyJobs.browseFile('docbrowser')">Attach Document(s)</button>
                                    <input id="docbrowser" type="file" class="hidden" flow-btn/>
                                </div>
                            </div>
                        </div>
                        <a href="" class="terms">Terms and conditions of registering <span class="caret"></span></a>
                    </div>
                    <div class="form-submit">
                        <button class="btn btn-success" type="submit" ng-click="applyJobs.handleFormSubmission()">Apply for Jobs</button>
                    </div>
                </form>
            </div>
        </section>





        