<!--<section class="banner-area" style="background-image: url(images/landing-banner.jpg)" ng-init="landing.init()">
            <div class="container">
                <ul class="banner-menu">
                    <li><a href="#">Client</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Technology</a></li>
                </ul>
            </div>
        </section>-->
<section class="banner-area" style="background-image: url(images/landing-banner.jpg)" ng-init="landing.init()">
    <div class="searching-block">
        <h1>Job Search</h1>
        <h3>Search Over 100,000 Jobs</h3>
        <form class="form-inline search-form">
            <div class="form-group job-category">
                <label><i class="fa fa-search" aria-hidden="true"></i></label>
                <input class="form-control" type="text" placeholder="Keyword: e.g. Engineering, Sales" ng-model="landing.keyword">
                <button class="close-icon" type="reset"><i class="fa fa-times-circle"></i>
                        </button>
            </div>
            <div class="form-group location">
                <label><i class="fa fa-map-marker" aria-hidden="true"></i></label>
                <input class="form-control" type="text" placeholder="Place: e.g. Manchester" ng-model="landing.place">
            </div>
            <div class="submit-form">
                <button type="submit" ng-click="landing.searchJobs(landing.keyword, landing.place)" class="btn btn-danger">Search for your next job <i class="fa fa-angle-double-right"></i></button>
            </div>
        </form>
    </div>
    <!--            <div class="container">
                            <ul class="banner-menu">
                                <li><a href="#">Client</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Technology</a></li>
                            </ul>
                        </div>-->
</section>
<section class="main-contains">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-12 jobs-list-area">
                <h2 class="clearfix pull-left" ng-if="landing.selectedJobs.length">Jobs Selected [{{landing.selectedJobs.length}}]</h2>
                <div class="pull-right jobs-apply-block" ng-if="landing.selectedJobs.length">
                    You are applying to {{landing.selectedJobs.length}} Job(s) <a href="#" ng-click="landing.applyJobs(landing.selectedJobs)"
                        class="apply-btn">Apply Now</a>
                </div>                

                <br class="clear" />
                <hr />
                <div class="available-jobs">
                   <div class="row jobs-list" ng-repeat="job in landing.selectedJobs">
                                <div class="col-sm-9 col-xs-12">
                                    <h3>{{job.Position}}</h3>
                                    <p>{{job.Description}}</p>                                    
                                </div>
                                <div class="col-sm-1 col-xs-12 text-center apply-block">
                                    <h5>Apply</h5>
                                    <span ng-class="{enabled:job.selected}" style="cursor: pointer;" ng-click="landing.selectJob(job)"><i class="fa fa-check"></i></span>
                                </div>
                                <div class="col-sm-2 col-xs-12 text-center">
                                    <h5>Salary</h5>
                                    <div class="salary-range">£15,000-£20,000</div>
                                    <a href="#" class="btn-black">read more</a>
                                </div>
                            </div>
                            <div class="row jobs-list" ng-repeat="job in landing.jobPostings">
                                <div class="col-sm-9 col-xs-12">
                                    <h3>{{job.Position}}</h3>
                                    <p>{{job.Description}}</p>                                    
                                </div>
                                <div class="col-sm-1 col-xs-12 text-center apply-block">
                                    <h5>Apply</h5>
                                    <span ng-class="{enabled:job.selected}" style="cursor: pointer;" ng-click="landing.selectJob(job)"><i class="fa fa-check"></i></span>
                                </div>
                                <div class="col-sm-2 col-xs-12 text-center">
                                    <h5>Salary</h5>
                                    <div class="salary-range">£15,000-£20,000</div>
                                    <a href="#" class="btn-black">read more</a>
                                </div>
                            </div>
                    <a href="#" class="load-more-jobs-btn" ng-click="landing.getAllJob()" ng-if="landing.totalCount - (landing.jobPostings.length + landing.selectedJobs.length) != 0">View {{landing.totalCount - landing.jobPostings.length}} more jobs</a>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 landing-sidebar">
                <div class="featured-recruit">
                    <h3>Featured employers now recruiting</h3>
                    <ul>
                        <li>
                            <a href="#"><img src="images/rotherham-logo.jpg" class="img-responsive"></a>
                        </li>
                        <li>
                            <a href="#"><img src="images/OU-logo.gif" class="img-responsive"></a>
                        </li>
                        <li>
                            <a href="#"><img src="images/mcfc2-badge.jpeg" class="img-responsive"></a>
                        </li>
                        <li>
                            <a href="#"><img src="images/highway-england.jpg" class="img-responsive"></a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-feature cl-grey text-center">
                    <span class="icon bordered">£</span>
                    <p>The Only Recruitment Group that pays you £100 when you secure a job!</p>
                    <a href="#" class="button btn-yellow">Tell Me more</a>
                </div>
                <div class="sidebar-feature text-center">
                    <span class="icon"><i class="fa fa-paper-plane-o"></i></span>
                    <h3>Sign up for job alerts</h3>
                    <a href="#" class="button btn-blue">Sign up now</a>
                </div>
                <div class="sidebar-feature text-center">
                    <span class="icon"><i class="fa fa-bullhorn"></i></span>
                    <h3>Refer a friend</h3>
                    <p>Refer a friend and receive £100 when they secure a job through us!</p>
                    <a href="#" class="button btn-red">Refer a friend now</a>
                </div>
            </div>
        </div>
    </div>
</section>