<section class="banner-area" style="background-image: url(images/vacancy-banner.png)">
    <div class="container">
    </div>
</section>

<section class="main-contains">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-12 jobs-list-area">                
                <p><h1 style="color:rgb(2,82,142);"><b>Publish a vacancy</b></h1></p>
                <p>Fill your vacancy today!</p>
                <p>Post a Job Description for Free to start viewing candidate profiles and hundreds of clips</p>

                <div class="col-sm-6"> 
                    <label> Job Title/Position</label>
                </div>

                <div class="col-sm-6"></div>

            </div>
        </div>

    </div>
</section>