<section class="main-contains" ng-init="candidateVideoProfileSearch.init()">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 right-padding-off bg-gary">
            <div class="left-search-section">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Profile" ng-model="candidateVideoProfileSearch.searchCriteria.Profile">
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="candidateVideoProfileSearch.search()">Go!</button>
                            </span>
                </div>
                <!-- /input-group -->

                <div class="row position-experience">
                    <div class="col-sm-12 col-xs-12 position-block">
                        <label>Position</label>
                        <div class="input-group">

                            <input type="text" class="form-control" placeholder="Solicitor" ng-model="candidateVideoProfileSearch.position" uib-typeahead="position for position in candidateVideoProfileSearch.getPositions($viewValue)">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="candidateVideoProfileSearch.addPosition(candidateVideoProfileSearch.position)">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /input-group -->
                <a href="#" class="arrow-button" ng-repeat="position in candidateVideoProfileSearch.searchCriteria.PositionList" ng-click="candidateVideoProfileSearch.removePosition($index)">
                    <span class="label">{{position}}</span><span class="arrow"></span>
                </a>

                <div class="rectuit-cat row">
                    <ul class="col-sm-6 col-xs-12">
                        <li>Permanent <span><input type="checkbox" class="checkbox" ng-model="candidateVideoProfileSearch.searchCriteria.IsPermanent" ng-change="candidateVideoProfileSearch.onPermanentChange()"/></span></li>
                        <li>Fulltime <span><input type="checkbox" class="checkbox" ng-model="candidateVideoProfileSearch.searchCriteria.IsFullTime" ng-change="candidateVideoProfileSearch.onFullTimeChange()"/></span></li>
                        <!--<li>Permanent <span class="badge"><i class="fa fa-check-square-o"></i></span></li>
                            <li>Fulltime <span class="badge"><i class="fa fa-check-empty"></i></span></li>-->
                    </ul>
                </div>

                <div class="row position-experience">
                    <div class="col-sm-12 col-xs-12 position-block">
                        <label>Location</label>
                        <div class="input-group">

                            <input type="text" class="form-control" placeholder="leeds" ng-model="candidateVideoProfileSearch.location" uib-typeahead="location for location in candidateVideoProfileSearch.getLocations($viewValue)"
                            />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="candidateVideoProfileSearch.addLocation(candidateVideoProfileSearch.location)">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /input-group -->
                <a href="#" class="arrow-button" ng-repeat="location in candidateVideoProfileSearch.searchCriteria.LocationList" ng-click="candidateVideoProfileSearch.removeLocation($index)">
                    <span class="label">{{location}}</span><span class="arrow"></span>
                </a>

                <div class="row position-experience">
                    <div class="col-sm-12 col-xs-12 position-block">
                        <label>Skills</label>
                        <div class="input-group">

                            <input type="text" class="form-control" placeholder="Skills" ng-model="candidateVideoProfileSearch.skill" uib-typeahead="skill for skill in candidateVideoProfileSearch.getSkills($viewValue)"
                            />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="candidateVideoProfileSearch.addSkill(candidateVideoProfileSearch.skill)">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- /input-group -->
                <a href="#" class="arrow-button" ng-repeat="skill in candidateVideoProfileSearch.searchCriteria.Skills" ng-click="candidateVideoProfileSearch.removeSkill($index)">
                    <span class="label">{{skill}}</span><span class="arrow"></span>
                </a>

                <br />

                <a href="#" class="btn btn-default bg-black btns" ng-click="candidateVideoProfileSearch.Reset()">
                    <i class="fa fa-times"></i> Reset search & filters
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 left-padding-off bg-white">
            <h2 class="clearfix pull-left">Search Results 04</h2>
            <a href="#" class="save-result pull-right"><i class="fa fa-floppy-o"></i> Save Results</a>
            <br class="clear" />
            <hr />
            <div id="no-more-tables">                
                <table class="table ">
                    <thead>
                        <tr>
                            <th>
                                <h4> <i> Clinical Negligence </i> </h4>
                            </th>
                            <th></th>
                            <th>Position</th>
                            <th>Location</th>
                            <th>Experience</th>
                            <th>Current Salary</th>
                            <th>Expected Salary</th>
                        </tr>
                    </thead>
                    <tbody  ng-repeat="candidate in candidateVideoProfileSearch.CandidateList">
                        
                        <tr>
                            <td rowspan="2">

                                <iframe id="ytplayer" type="text/html" width="210" height="118" ng-src="{{candidateVideoProfileSearch.trustSrc(candidate.Url)}}"
                                    frameborder="0" allowfullscreen></iframe>
                            </td>
                            <td data-title="Name">
                                <h4> {{candidate.CandidateName}} </h4>
                            </td>
                            <td data-title="Position">{{candidate.Position}}</td>
                            <td data-title="Location">{{candidate.Location}}</td>
                            <td data-title="Experience">{{candidate.Experince}}</td>
                            <td data-title="Current Salary">{{candidate.CurrentSalary}}</td>
                            <td data-title="Expected Salary">{{candidate.ExpectedSalaryFrom}}-{{candidate.ExpectedSalaryTo}}</td>
                        </tr>
                        <tr class="no-border paragraph">
                            <td colspan="6" class="texts-left">{{candidate.Objectives}}</td>
                        </tr>
                        <!--<tr>
                            <td rowspan="2">
                                <iframe id="ytplayer" type="text/html" width="210" height="118" src="https://www.youtube.com/embed/EwK28LO6ckM?controls=0&amp;end=50&amp;fs=0&amp;color=white&amp;theme=light"
                                    frameborder="0" allowfullscreen></iframe>
                            </td>
                            <td data-title="Name">
                                <h4> Anderson, G </h4>
                            </td>
                            <td data-title="Position">Paralegal</td>
                            <td data-title="Location">Mansfield</td>
                            <td data-title="Experience">2 Miles</td>
                            <td data-title="Current Salary">£19,000</td>
                            <td data-title="Expected Salary">£20,000 - 25,000</td>
                        </tr>
                        <tr class="no-border paragraph">
                            <td colspan="6" class="texts-left">I am a experienced Clinical Negligence Solicitors having worked in comple..</td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <iframe id="ytplayer" type="text/html" width="210" height="118" src="https://www.youtube.com/embed/EwK28LO6ckM?controls=0&amp;end=50&amp;fs=0&amp;color=white&amp;theme=light"
                                    frameborder="0" allowfullscreen></iframe>
                            </td>
                            <td data-title="Name">
                                <h4> Fox , C </h4>
                            </td>
                            <td data-title="Position">Student</td>
                            <td data-title="Location">Mansfield</td>
                            <td data-title="Experience">2 Miles</td>
                            <td data-title="Current Salary">£19,000</td>
                            <td data-title="Expected Salary">£20,000 - 25,000</td>
                        </tr>
                        <tr class="no-border paragraph">
                            <td colspan="6" class="texts-left">I am a experienced Clinical Negligence Solicitors having worked in comple..</td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <iframe id="ytplayer" type="text/html" width="210" height="118" src="https://www.youtube.com/embed/EwK28LO6ckM?controls=0&amp;end=50&amp;fs=0&amp;color=white&amp;theme=light"
                                    frameborder="0" allowfullscreen></iframe>
                            </td>
                            <td data-title="Name">
                                <h4> Hargreaves, K </h4>
                            </td>
                            <td data-title="Position">Paralegal</td>
                            <td data-title="Location">Mansfield</td>
                            <td data-title="Experience">2 Miles</td>
                            <td data-title="Current Salary">£19,000</td>
                            <td data-title="Expected Salary">£20,000 - 25,000</td>
                        </tr>
                        <tr class="no-border paragraph">
                            <td colspan="6" class="texts-left">I am a experienced Clinical Negligence Solicitors having worked in comple..</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>