<section class="main-contains">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-3 right-padding-off bg-gary">
                    <div class="left-search-section">

                        <label>Industry</label>
                        <div class="input-group">                            
                            <select class="form-control" ng-model="jobSearch.searchCriteria.IndustryID" 
                                    ng-options="ind.id as ind.name for ind in jobSearch.industryTypes"
                                    ng-change="jobSearch.onIndustryChange(jobSearch.searchCriteria.IndustryID)"
                                    >
                               <option value="">Industry Type</option>
                            </select>
                            <select class="form-control" ng-model="jobSearch.searchCriteria.InsolvencyID" 
                                    ng-options="ins.id as ins.name for ins in jobSearch.insolvencyTypes"

                                    >
                                <option value="">Insolvency</option>
                            </select>

                        </div><!-- /input-group -->

                        <div class="row position-experience">
                            <div class="col-sm-7 col-xs-12 position-block">
                                <label>Position</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Solicitors">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <div class="col-sm-5 col-xs-12 experience-block">
                                <label>Experience</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="0-2 Years PQE">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-plus-circle"></i></button>
                                    </span>                                   
                                </div><!-- /input-group -->
                            </div>
                        </div>
                        <a href="#" class="arrow-button"><span class="label">Paralegal</span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="title">Solicitor</span><span class="label">0-2 Years PQE</span><span class="arrow"></span></a>

                        <div class="rectuit-cat row">                            
                            <ul class="col-sm-6 col-xs-12">
                                <li>Fulltime <span><i class="fa fa-check-circle"></i></span></li>
                                <li>Part time <span><i class="fa fa-circle-thin"></i></span></li>
                            </ul>
                            <ul class="col-sm-6 col-xs-12">
                                <li>Permanent <span><i class="fa fa-check-circle"></i></span></li>
                                <li>Temporary <span><i class="fa fa-check-circle"></i></span></li>
                                <li>Remote <span><i class="fa fa-check-circle"></i></span></li>
                                <li>Locum <span><i class="fa fa-check-circle"></i></span></li>
                            </ul>
                        </div>


                        <label>Location</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="leeds">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        <a href="#" class="arrow-button"><span class="label">leeds</span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="label">Huddersfield</span><span class="arrow"></span></a>
                        <a href="#" class="arrow-button"><span class="label">West Yorkshire </span><span class="arrow"></span></a>

                        <br class="hidden-sm" /><br class="hidden-md hidden-sm" /><br />
                        <label>Salary</label>
                        <form class="form-inline range-sal">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>£0</option>
                                    <option>£10</option>
                                    <option>£20</option>
                                    <option>£40</option>
                                    <option>£50</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">To</label>
                                <select class="form-control">
                                    <option>£200k</option>
                                    <option>£300k</option>
                                    <option>£400k</option>
                                    <option>£500k</option>
                                    <option>£600k</option>
                                </select>
                            </div>
                            <span class="add-more"><i class="fa fa-plus-circle"></i></span>
                        </form>

                        <a href="#" class="btn btn-default bg-black btns">
                            <i class="fa fa-times"></i>  Reset search & filters
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 left-padding-off bg-white">
                    <h2 class="clearfix pull-left" ng-if="jobSearch.selectedJobs.length">Jobs Selected [1]</h2>
                    <div class="pull-right jobs-apply-block" ng-if="jobSearch.selectedJobs.length">
                        You are applying to 1 Job(s) <a href="#" class="apply-btn">Apply Now</a>
                    </div>

                    <br class="clear" />
                    <hr />                    

                    <div class="jobs-search-block">
                        <div class="row result-item" ng-repeat="job in jobSearch.selectedJobs">                           
                            <div class="col-sm-8 em-summary">
                                <h3>{{job.Position}}</h3>
                                <p>{{job.ShortDescription}}</p>
                                <p>{{job.LongDescription}}</p>
                            </div>
                            <div class="col-sm-1 em-shortlist listed text-center">
                                <strong>Apply</strong>
                                <span><i class="fa fa-check-circle"></i></span>
                            </div>
                            <div class="col-sm-3 em-price text-center">
                                <strong>Salary</strong>
                                <span class="arrow-button"><span class="label">£{{job.SalaryFrom}}-£{{job.SalaryTo}}</span><span class="arrow"></span></span>
                                <div>
                                    <a href="#" class="read-more">Read More >></a>

                                </div>
                            </div>
                        </div><!-- /.result-item -->

                        <h2 class="clearfix pull-left" ng-if="jobSearch.searchResult.length">Search Results [{{jobSearch.searchResult.length}}]</h2>                       

                        <br class="clear" />
                        <hr /> 

                        </div><!-- /.result-item -->
                        <div class="row result-item" ng-repeat="job in jobSearch.searchResult">                           
                            <div class="col-sm-8 em-summary">
                                 <h3>{{job.Position}}</h3>
                                <p>{{job.ShortDescription}}</p>
                                <p>{{job.LongDescription}}</p>
                            </div>
                            <div class="col-sm-1 em-shortlist text-center">
                                <strong>Apply</strong>
                                <span><i class="fa fa-check-circle"></i></span>
                            </div>
                            <div class="col-sm-3 em-price text-center">
                                <strong>Salary</strong>
                                <span class="arrow-button"><span class="label">£{{job.SalaryFrom}}-£{{job.SalaryTo}}</span><span class="arrow"></span></span>
                                <div>
                                    <a href="#" class="read-more">Read More >></a>

                                </div>
                            </div>
                        </div><!-- /.result-item -->    

                    </div>
                </div>
            </div>
        </section>
