<section class="main-contains" ng-init="candidateProfileSearch.init()">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 right-padding-off bg-gary">
            <div class="left-search-section">

                <label>Industry</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Legal (Default)">
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                </div>
                <!-- /input-group -->

                <div class="row position-experience">
                    <div class="col-sm-12 col-xs-12 position-block">
                        <label>Position</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Solicitors" ng-model="candidateProfileSearch.position" uib-typeahead="position for position in candidateProfileSearch.getPositions($viewValue)">
                            <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="candidateProfileSearch.addPosition(candidateProfileSearch.position)">Go!</button>
                                    </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>

                <a href="#" class="arrow-button" ng-repeat="position in candidateProfileSearch.searchCriteria.PositionList" ng-click="candidateProfileSearch.removePosition($index)">
                    <span class="label">{{position}}</span><span class="arrow"></span>
                </a>


                <div class="rectuit-cat row">
                    <ul class="col-sm-6 col-xs-12">
                        <li>Fulltime <span><input type="checkbox" class="checkbox" ng-model="candidateProfileSearch.searchCriteria.IsFullTime" ng-change="candidateProfileSearch.onCheckBoxSelectionChange()"/></span></li>
                        <li>Part time <span><input type="checkbox" class="checkbox" ng-model="candidateProfileSearch.searchCriteria.IsPartTime" ng-change="candidateProfileSearch.onCheckBoxSelectionChange()"/></span></li>
                    </ul>
                    <ul class="col-sm-6 col-xs-12">
                        <li>Permanent <span><input type="checkbox" class="checkbox" ng-model="candidateProfileSearch.searchCriteria.IsPermanent" ng-change="candidateProfileSearch.onCheckBoxSelectionChange()"/></span></li>
                        <li>Temporary <span><input type="checkbox" class="checkbox" ng-model="candidateProfileSearch.searchCriteria.IsTemporary" ng-change="candidateProfileSearch.onCheckBoxSelectionChange()"/></span></li>
                        <li>Remote <span><input type="checkbox" class="checkbox" ng-model="candidateProfileSearch.searchCriteria.IsRemote" ng-change="candidateProfileSearch.onCheckBoxSelectionChange()"/></span></li>
                        <li>Locum <span><input type="checkbox" class="checkbox" ng-model="candidateProfileSearch.searchCriteria.IsLocum" ng-change="candidateProfileSearch.onCheckBoxSelectionChange()"/></span></li>
                    </ul>
                </div>

                <div class="row position-experience">
                    <div class="col-sm-12 col-xs-12 position-block">
                        <label>Location</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="leeds" ng-model="candidateProfileSearch.location" uib-typeahead="location for location in candidateProfileSearch.getLocations($viewValue)"
                            />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="candidateProfileSearch.addLocation(candidateProfileSearch.location)">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /input-group -->
                <a href="#" class="arrow-button" ng-repeat="location in candidateProfileSearch.searchCriteria.LocationList" ng-click="candidateProfileSearch.removeLocation($index)">
                    <span class="label">{{location}}</span><span class="arrow"></span>
                </a>

                <br class="hidden-sm" /><br class="hidden-md hidden-sm" /><br />
                <label>Salary</label>
                <div class="form-group">
                    <label>From</label>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="candidateProfileSearch.searchCriteria.ExpectedSalaryFrom" ng-blur="candidateProfileSearch.onFromSlarayChange()"
                        />
                    </div>
                    <div class="form-group">
                        <label>To</label>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="candidateProfileSearch.searchCriteria.ExpectedSalaryTo" ng-blur="candidateProfileSearch.onToSlarayChange()"
                            />
                        </div>
                    </div>
                </div>

                <a href="#" class="btn btn-default bg-black btns">
                    <i class="fa fa-times"></i> Reset search & filters
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 left-padding-off bg-white">
            <h2 class="clearfix pull-left">Search Results: {{candidateProfileSearch.searchResultFound}} results found</h2>
            <a href="#" class="save-result pull-right"><i class="fa fa-floppy-o"></i> Save Search</a>
            <br class="clear" />
            <hr />
            <h3 class="search-title">Clinical Negligence </h3>


            <div class="employer-search-block">
                <div class="row result-item">
                    <div class="col-sm-2 em-video">
                        <img src="images/OU-logo.gif" class="img-responsive">
                    </div>
                    <div class="col-sm-3 em-details">
                        <h4>Anderson G.</h4>
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td><strong>Position:</strong></td>
                                    <td><strong>Solicitor</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Experience:</strong></td>
                                    <td>6 Years (PQE: 2)</td>
                                </tr>
                                <tr>
                                    <td><strong>Location:</strong></td>
                                    <td>Mansfield</td>
                                </tr>
                                <tr>
                                    <td><strong>Current Salary:</strong></td>
                                    <td>£15,000-£19,000</td>
                                </tr>
                                <tr>
                                    <td><strong>Expected Salary:</strong></td>
                                    <td>£20,000-£25,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 em-summary">
                        <strong>Summary</strong>
                        <p>Hardworking, loyal, focused, and determined to achieve goals and challenging tasks ith good growth
                            opportunities. Find me on Linkedin as ###### (Moderated).</p>
                    </div>
                    <div class="col-sm-1 em-shortlist listed text-center">
                        <strong>Shortlist</strong>
                        <span><i class="fa fa-check-circle"></i></span>
                    </div>
                    <div class="col-sm-2 em-price text-center">
                        <strong>Price</strong>
                        <span class="arrow-button"><span class="label">£500</span><span class="arrow"></span></span>
                    </div>
                </div>
                <!-- /.result-item -->

                <!--<div class="row result-item">
                    <div class="col-sm-2 em-video">
                        <img src="images/OU-logo.gif" class="img-responsive">
                    </div>
                    <div class="col-sm-3 em-details">
                        <h4>Anderson G.</h4>
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td><strong>Position:</strong></td>
                                    <td><strong>Solicitor</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Experience:</strong></td>
                                    <td>6 Years (PQE: 2)</td>
                                </tr>
                                <tr>
                                    <td><strong>Location:</strong></td>
                                    <td>Mansfield</td>
                                </tr>
                                <tr>
                                    <td><strong>Current Salary:</strong></td>
                                    <td>£15,000-£19,000</td>
                                </tr>
                                <tr>
                                    <td><strong>Expected Salary:</strong></td>
                                    <td>£20,000-£25,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 em-summary">
                        <strong>Summary</strong>
                        <p>Hardworking, loyal, focused, and determined to achieve goals and challenging tasks ith good growth
                            opportunities. Find me on Linkedin as ###### (Moderated).</p>
                    </div>
                    <div class="col-sm-1 em-shortlist text-center">
                        <strong>Shortlist</strong>
                        <span><i class="fa fa-check-circle"></i></span>
                    </div>
                    <div class="col-sm-2 em-price text-center">
                        <strong>Price</strong>
                        <span class="arrow-button"><span class="label">£500</span><span class="arrow"></span></span>
                    </div>
                </div>-->
                <!-- /.result-item -->

                <!--<div class="row result-item">
                    <div class="col-sm-2 em-video">
                        <img src="images/OU-logo.gif" class="img-responsive">
                    </div>
                    <div class="col-sm-3 em-details">
                        <h4>Anderson G.</h4>
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td><strong>Position:</strong></td>
                                    <td><strong>Solicitor</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Experience:</strong></td>
                                    <td>6 Years (PQE: 2)</td>
                                </tr>
                                <tr>
                                    <td><strong>Location:</strong></td>
                                    <td>Mansfield</td>
                                </tr>
                                <tr>
                                    <td><strong>Current Salary:</strong></td>
                                    <td>£15,000-£19,000</td>
                                </tr>
                                <tr>
                                    <td><strong>Expected Salary:</strong></td>
                                    <td>£20,000-£25,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 em-summary">
                        <strong>Summary</strong>
                        <p>Hardworking, loyal, focused, and determined to achieve goals and challenging tasks ith good growth
                            opportunities. Find me on Linkedin as ###### (Moderated).</p>
                    </div>
                    <div class="col-sm-1 em-shortlist text-center">
                        <strong>Shortlist</strong>
                        <span><i class="fa fa-check-circle"></i></span>
                    </div>
                    <div class="col-sm-2 em-price text-center">
                        <strong>Price</strong>
                        <span class="arrow-button"><span class="label">£500</span><span class="arrow"></span></span>
                    </div>
                </div>-->
                <!-- /.result-item -->

                <!--<div class="row result-item">
                    <div class="col-sm-2 em-video">
                        <img src="images/OU-logo.gif" class="img-responsive">
                    </div>
                    <div class="col-sm-3 em-details">
                        <h4>Anderson G.</h4>
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td><strong>Position:</strong></td>
                                    <td><strong>Solicitor</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Experience:</strong></td>
                                    <td>6 Years (PQE: 2)</td>
                                </tr>
                                <tr>
                                    <td><strong>Location:</strong></td>
                                    <td>Mansfield</td>
                                </tr>
                                <tr>
                                    <td><strong>Current Salary:</strong></td>
                                    <td>£15,000-£19,000</td>
                                </tr>
                                <tr>
                                    <td><strong>Expected Salary:</strong></td>
                                    <td>£20,000-£25,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 em-summary">
                        <strong>Summary</strong>
                        <p>Hardworking, loyal, focused, and determined to achieve goals and challenging tasks ith good growth
                            opportunities. Find me on Linkedin as ###### (Moderated).</p>
                    </div>
                    <div class="col-sm-1 em-shortlist text-center">
                        <strong>Shortlist</strong>
                        <span><i class="fa fa-check-circle"></i></span>
                    </div>
                    <div class="col-sm-2 em-price text-center">
                        <strong>Price</strong>
                        <span class="arrow-button"><span class="label">£500</span><span class="arrow"></span></span>
                    </div>
                </div>-->
                <!-- /.result-item -->
            </div>
        </div>
    </div>
</section>